body {
    background-color: PaleGreen;
    font-family: "Times New Roman", serif;
} 
h1 {
    color: plum;
    text-align: left;
}
h2 {
    padding: 10px;
}
div {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}
p {
    font-size: 18px;
    padding-left: 20px;
}
ol {
    border: 1px solid plum;
    border-radius: 5px;
    width: 90%;
    box-shadow: 20px 10px 3px rgb(221, 160, 221);
}

